<div class="main-page">

    <section class="content">
        <div class="container-fluid">
            <div class="">
                <h1 class="">Главная</h1>
            </div>
            <div class="main-actions d-flex flex-wrap align-items-center" id="main-actions">
                <button type="button" class="btn btn-block btn-outline-secondary main-action active today">Сегодня
                </button>
                <button type="button" class="btn btn-block btn-outline-secondary main-action week">Неделя</button>
                <button type="button" class="btn btn-block btn-outline-secondary main-action month">Месяц</button>
                <button type="button" class="btn btn-block btn-outline-secondary main-action year">Год</button>

                <button type="button" class="btn btn-block btn-outline-secondary main-action interval" id="interval">
                    Интервал
                </button>
                <div class="interval">
                    <div class="d-flex align-items-center mr-4 mt-2">
                        <label for="date-from" class="mb-0 mr-3">С</label>
                        <div data-target="#date-from" data-toggle="datetimepicker">
                            <input type="text" id="date-from" class="datetimepicker-input main-dates p-0"
                                   placeholder="Дата" data-target="#date-from">
                        </div>
                    </div>

                    <div class="d-flex align-items-center mt-2">
                        <label for="date-to" class="mb-0 mr-3">По</label>
                        <div data-target="#date-to" data-toggle="datetimepicker">
                            <input type="text" id="date-to" class="datetimepicker-input main-dates p-0"
                                   placeholder="Дата" data-target="#date-to">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row charts d-flex flex-wrap">
                <div class="income chart text-center">
                    <h2 class="small-title ">Доходы</h2>
                    <div class="card-body">
                        <canvas id="incomeChart"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <div class="expense chart text-center">
                    <h2 class="small-title ">Расходы</h2>
                    <div class="card-body">
                        <canvas id="expenseChart"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>