<div class="operations-create">
    <section class="content">
        <div class="container-fluid">
            <div>
                <h1>Создание дохода/расхода</h1>
            </div>
            <div class="mt-5">
                <label for="type"></label>
                <select id="type" class="select2 w-50 form-select" data-placeholder="Тип...">
                    <option id="type-select" value="" disabled selected></option>
                    <option>Доход</option>
                    <option>Расход</option>
                </select>
                <span id="type-error" class="error invalid-feedback">Выберите тип</span>
            </div>
            <div>
                <label for="choose-category"></label>
                <select id="choose-category" class="select2 w-50 form-select" data-placeholder="Категория...">
                    <option id="choose-category-select" value="" disabled selected></option>
                </select>
                <span id="choose-category-error" class="error invalid-feedback">Выберите категорию</span>
            </div>
            <div>
                <label for="sum"></label>
                <input type="number" id="sum" class="form-control w-50" placeholder="Сумма в $...">
                <span id="sum-error" class="error invalid-feedback">Введите сумму</span>
            </div>
            <div>
                <label for="date"></label>
                <input type="text" class="datetimepicker-input form-control w-50" id="date" placeholder="Дата..."/>
                <span id="date-error" class="error invalid-feedback">Введите дату</span>
            </div>
            <div>
                <label for="comment"></label>
                <input type="text" id="comment" class="form-control w-50 mb-1" placeholder="Комментарий...">
                <span id="comment-error" class="error invalid-feedback">Введите комментарий</span>
            </div>

            <div class="row ml-0 mt-4">
                <a class="btn btn-success btn-md mr-2" id="create-button">Создать</a>
                <a href="/operations" class="btn btn-danger btn-md">Отмена</a>
            </div>
        </div>
    </section>
</div>

