<div class="operations-view">

    <section class="content">
        <div class="container-fluid">
            <div class="mb-5">
                <h1 class="">Доходы и расходы</h1>
            </div>
            <div class="row mb-4 operations-action-buttons">
                <a href="/operations/create?type=income" class="btn btn-success btn-sm mr-2" id="create-income">Создать доход</a>
                <a href="/operations/create?type=expense" class="btn btn-danger btn-sm" id="create-expense">Создать расход</a>
            </div>
            <div class="main-actions d-flex flex-wrap align-items-center" id="main-actions">
                <button type="button" class="btn btn-block btn-outline-secondary main-action active today" id="today">Сегодня</button>
                <button type="button" class="btn btn-block btn-outline-secondary main-action week" id="week">Неделя</button>
                <button type="button" class="btn btn-block btn-outline-secondary main-action month" id="month">Месяц</button>
                <button type="button" class="btn btn-block btn-outline-secondary main-action year" id="year">Год</button>
                <button type="button" class="btn btn-block btn-outline-secondary main-action interval" id="interval">Интервал</button>
                <div class="interval">
                    <div class="d-flex align-items-center mr-4 mt-2">
                        <label for="date-from" class="mb-0 mr-3">С</label>
                        <div data-target="#date-from" data-toggle="datetimepicker">
                            <input type="text" id="date-from" class="datetimepicker-input main-dates p-0"
                                   placeholder="Дата" data-target="#date-from">
                        </div>
                    </div>

                    <div class="d-flex align-items-center mt-2">
                        <label for="date-to" class="mb-0 mr-3">По</label>
                        <div data-target="#date-to" data-toggle="datetimepicker">
                            <input type="text" id="date-to" class="datetimepicker-input main-dates p-0"
                                   placeholder="Дата" data-target="#date-to">
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class="row text-center">
                    <div class="col-12">
                        <div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-center" id="table">
                                    <thead>
                                    <tr>
                                        <th>№ операции</th>
                                        <th>Тип</th>
                                        <th>Категория</th>
                                        <th>Сумма</th>
                                        <th>Дата</th>
                                        <th>Комментарий</th>
                                        <th id="tools"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="records">
                                    </tbody>
                                </table>
                            </div>
                            <div class="popup" id="popup">
                                <div class="popup-card card p-4 text-center">
                                    <p>Вы действительно хотите удалить операцию?</p>
                                    <div class="row justify-content-center">
                                        <a class="btn btn-success btn-sm mr-2" id="delete-operation">Да, удалить</a>
                                        <a class="btn btn-danger btn-sm" id="operations-do-not-delete">Не удалять</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>